html {font-family: Arial}
header {border-bottom: solid 5px blue;}
nav {margin-bottom: 10px;}
article {border-bottom: solid 1px gray;}
img {max-width: 100px;
     margin: 0px 30px 30px 0px;
     float: left;
    }
p {font-size: 18px;}
